<!DOCTYPE html>
<html>
  <head>
    <title>ReGen</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div id="logo">
      <h1><%= title %></h1>
      <p>Rehabilitation starts with you</p>
    </div>
    <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png">Sign in with Google</a>
    <img id="login-backdrop" src="	https://i.imgur.com/ppdLKGB_d.webp?maxwidth=760&fidelity=grand" alt="pose">
  </body>
</html>
