
<%- include('../partials/header') %>
<h1><%= title%></h1>
<form class="form-floating" action="/createWorkout" method="POST">
    <div class="form-floating mb-3">
        <input required type="text" class="form-control" id="floatingInput" placeholder="Body Part" name="bodyPart">
        <label for="floatingInput">Body Part</label>
    </div>
    <div class="form-floating">
        <input required type="text" class="form-control" id="floatingPassword" placeholder="typesOfInjury" name="typesOfInjury">
        <label for="floatingInput">Types of Injury</label>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<%- include('../partials/footer') %>