<section id="show-page">
    <div>Body Part: </div>
    <div>
      <%= workout.bodyPart %>
    </div>
    <div>Types of Injury: </div>
    <div>
      <%= workout.typesOfInjury %>
    </div>
    <a href="/createWorkout/<%= exercise._id %>/edit">Edit Exercise</a>

</section>