<%- include('../partials/header') %>
<h1>Exercises</h1>
<ul>
    <% exercises.forEach((exercise) => { %>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/exercises/<%= exercise._id %>" class="btn btn-primary">Details</a>
            <form action="/exercises/<%= exercise.id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
        </div>
    </div>
    <% }) %>
</ul>
<%- include('../partials/footer') %>