<%- include('../partials/header') %>
<section id="show-page">
    <div>Exercise Name: </div>
    <div>
      <%= exercise.exerciseName %>
    </div>
    <div>Description: </div>
    <div>
      <%= exercise.description %>
    </div>
    <a href="/exercises/<%= exercise.id %>/edit">Edit Exercise</a>
</section>