<%- include('../partials/header') %>
<section id="show-page">
    <div>Exercise Name: </div>
    <div>
      <%= exercise.exerciseName %>
    </div>
    <div>Description: </div>
    <div>
      <%= exercise.description %>
    </div>
    <form action="/exercises/<%= exercise._id%>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Exercise</button>
    
</section>