<%- include('../partials/header') %>
    <h2>Rehabilitation starts with you</h2>
    <p>Our goal is to provide healthcare professionals and the average person access to easy to understand exercises that can aid
        with the rehabilitation process during injury. Our database contains over 100+ exercises catered to providing the appropriate
        level of care required for any stage during injury.
    </p>
    <h3>How it works</h3>
    <p></p>
    <a href="/mainHub">Create a Workout</a>

<%- include('../partials/footer') %>