<%- include('../../partials/header') %>
<h1><%= title%></h1>
<img src="	https://images.emedicinehealth.com/images/article/main_image/wrist-injury.jpg" alt="Wrist Injury">
<p>The wrist is comprised of several joints where the two forearm bones — the radius and the ulna — meet a group of bones called the carpus. 
    The carpus consists of eight bones. These eight bones, plus a band of connective tissue, make up the carpal tunnel, which is a tube running through the wrist that contains tendons and a nerve.
    Damage to any of these structures can result in wrist problems.
</p>

<h4>Examples of Common Wrist Injuries</h4>
<p>Wrist dislocation, separation, fractures, carpal tunel syndrome, tendonitis</p>

<h4>What to work on?</h4>
<p>Typically, the main focus in strengthening prior to surgery for chronic wrist pain - such as frozen shoulder  - and even after some time after post-surgery 
    is to work on strengthening and increasing flexibility of the wrist flexors and extensors.
</p>

<h3>Some exercises that can help</h3>
<a href="/exercises">Check some out here!</a>
<%- include('../../partials/footer') %>