<%- include('../../partials/header') %>
<h1><%= title%></h1>
<img src="https://i.pinimg.com/564x/1b/55/94/1b55945189aee19362feec73f8a82940.jpg" alt="Shoulder Injury">
<p>The shoulders are the joints where your upper-arm bones (humerus), shoulder blades (scapula), and collarbone (clavicle) meet. 
    The humerus fits into the rounded socket of the scapula on each side of your body. 
    Each shoulder is held in place by a group of four muscles and tendons, called a rotator cuff, which covers and protects the humerus and lets you raise and move your arm.
</p>

<h4>Examples of Common Shoulder Injuries</h4>
<p>Shoulder dislocation, separation, fractures, cartilage/rotator cuff tears, and frozen shoulder</p>

<h4>What to work on?</h4>
<p>Typically, the main focus in strengthening prior to surgery for chronic shoulder pain - such as frozen shoulder  - and even after some time after post-surgery 
    is to work on strengthening the rotator cuff muscles.
</p>

<h3>Some exercises that can help</h3>
<a href="/exercises">Check some out here!</a>
<%- include('../../partials/footer') %>