<%- include('../../partials/header') %>
<h1><%= title%></h1>
<img src="https://sgmh.org/wp-content/uploads/2017/12/orthopedic-back-injury.gif" alt="Low Back Injury">
<p>The back is made of bones, muscles and other tissues extending from your neck to your pelvis. 
    Back injuries can result from playing sports, working around the house or in the garden, 
    low- or high-speed car accidents, lifting heavy objects or a fall.
</p>

<h4>Examples of Common Low Back Injuries</h4>
<p>Low back sprains and strains, herniated discs, and fractured vertebrae</p>

<h4>What to work on?</h4>
<p>Typically, the main focus in strengthening prior to surgery for chronic low back pain - such as arthritis, degenerative discs - and even after some time after post-surgery 
    is to work on strengthening the core and glutes.
</p>

<h3>Some exercises that can help</h3>
<a href="/exercises">Check some out here!</a>
<%- include('../../partials/footer') %>